body{
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vw;
}
@media screen and (max-width:700px) {
.heading{
    padding: 10px;
    margin-top: 10px;
    display: none;
}
.border-box{
    padding: 10px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 5px black;
    color: red;
    cursor: pointer;
}
.border-box i{
    font-size: xx-large;
}
}
@media screen and (min-width:700px) {
    .heading{
        padding: 20px;
        margin-top: 20px;
        display: none;
    }
    .border-box{
        padding: 20px;
        background-color: white;
        border: none;
        box-shadow: 2px 2px 5px black;
        color: red;
        cursor: pointer;
        
    }
    .border-box i{
        font-size: xx-large;
    }
    }
    @media screen and (max-width:700px){
        .loading{
            text-align:center ;
            padding: 20px;
            color: red;
            display: none;
            transition: 1s;
        }
        .loading i{
            font-size: 80px;
            position: absolute;
            top: 40%;
            left: 40%;
        } 
    }
    @media screen and (min-width:700px){
        .loading{
            text-align:center ;
            padding: 20px;
            color: red;
            display: none;
            transition: 1s;
        }
        .loading i{
            font-size: 80px;
            position: absolute;
            top: 40%;
            left: 45%;
        } 
    }
    @media screen  and (max-width:700px){
        .header{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            box-shadow: 2px 2px 5px black;
        }
        .first{
            margin: 10px;
        }
        .first i{
            margin: 2px;
            font-size: 50px;
            color: red;
        }
        .first b{
            position: absolute;
            top: 4%;
            font-size: 30px;
        }
        .second{
            margin: 10px;
        }
        .second i{
            margin: 15px;
            font-size: 20px;
            cursor: pointer;
        }    
    }
    @media screen  and (min-width:700px){
        .header{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            box-shadow: 2px 2px 5px black;
        }
        .first{
            margin: 10px;
        }
        .first i{
            margin: 2px;
            font-size: 70px;
            color: red;
        }
        .first b{
            position: absolute;
            top: 5%;
            font-size: 40px;
        }
        .second{
            margin: 10px;
        }
        .second i{
            margin: 30px;
            font-size: 30px;
            cursor: pointer;
        }    
    }
    @media screen and (max-width:700px){
        .buttons{
            padding-top: 20px;
            width: 100%;
          }
          .buttons button{
            margin:6px;
            padding: 7px;
            border: none;
            border-radius: 5px;
            background-color: beige;
            cursor: pointer;
          }
          .extra{
            display: none;
          }
          .icons{
            display: flex;
            padding: 5px;
            position: absolute;
            bottom: 0%;
            position: fixed;
            background-color: white;
            width: 100%;
            border-top: 2px solid aliceblue;
          }
          .home{
            text-align: center;
            cursor: pointer;
            margin: 2px;
            margin-right: 50px;
          }
          .home i{
            font-size: x-large;
          }
          .shorts{
            cursor: pointer;
            text-align: center;
            margin: 2px;
            margin-right: 60px;
          }
          .shorts i{
            font-size: x-large;
          }
          .file{
            
            text-align: center;
            margin: 2px;
            margin-right: 60px;
          }
          .file button{
            margin-top: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            font-size: x-large;
          }
          .subscription{
            cursor: pointer;
            text-align: center;
            margin: 2px;
            margin-right: 50px;
          }
          .subscription i{
            font-size: x-large;
          }
          .account{
            cursor: pointer;
            text-align: center;
            margin: 2px;
          }
          .account div{
            border: none;
            height: 40px;
            width: 40px;
            padding: 2px;
            border-radius: 50%;
          }
          .account img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
    }
    @media screen and (min-width:700px){
        .buttons{
            padding-top: 20px;
            display: flex;
            width: 100%;
          }
          .buttons button{
            margin:6px;
            padding: 7px;
            border: none;
            border-radius: 10px;
            background-color: beige;
            cursor: pointer;
          }
          .extra{
            display: block;
          }
          .icons{
            display: flex;
            padding: 5px;
            width: 100%;
            height: 50px;
            bottom: 0%;
            justify-content: space-between;
            position: fixed;
            background-color: white;
            width: 100%;
            border-top: 2px solid aliceblue;
          }
          .home{
            text-align: center;
            cursor: pointer;
            margin: 4px;
            
          }
          .home i{
            font-size: large;
          }
          .shorts{
            cursor: pointer;
            text-align: center;
            margin: 2px;
          }
          .shorts i{
            font-size: large;
          }
          .file{
            text-align: center;
            margin: 5px;
          }
          .file button{
            margin-top: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            font-size: large;
          }
          .subscription{
            cursor: pointer;
            text-align: center;
            margin: 2px;
          }
          .subscription i{
            font-size: large;
          }
          .account{
            position: relative;
            cursor: pointer;
            text-align: center;
            margin-right: 20px;
          }
          .account div{
            border: none;
            height: 30px;
            width: 30px;
            padding: 2px;
            border-radius: 50%;
          }
          .account img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
    }